@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-dark-900 text-white font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}
